<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Imagenes
        </h1>

      </div>
    </div>
    <!-- /.row -->





    <% if flash[:notice] %>
        <div class="row">
          <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= flash[:notice] %>
            </div>
          </div>
        </div>
    <% end %>

    <div class="row">



      <div class="col-lg-12">

            <h3 class="panel-title"><i class="fa fa-car fa-fw"></i> <%= @car.name %> </h3>
            <h4>Tiempo: <%= (Time.mktime(0)+ @tiempoGeneral.value.to_i ).strftime("%M:%S") %> (<%=  @tiempoGeneral.value.to_i  %>'')</h4>
            <%
               @restotiempo =  @tiempoGeneral.value.to_i-@pictures.sum(:time)

               @cuentasi =@pictures.count(:time)
               @cuentano = @pictures.count - @pictures.count(:time)
               if @cuentano == 0
                @cuentano = 1
               end

               @promedio = @restotiempo  / @cuentano

               @mod = @restotiempo  % @cuentano

            %>
            <p>
              <%= @pictures.count %>
              Promedio: <%= @promedio %> <br/>
              Tiempo sobrante: <%= @mod %>
            </p>
          </div>

            <p>

              <%= link_to 'Agregar Imagen', new_car_picture_path,  :class=>'btn btn-info',method: :get %>
            </p>

      <div class="">
        <div class=" sortable">
      <% @pictures.each_with_index do |item, index|  %>
          <div class="panel panel-default" data-id="<%= item.id %>" data-pos="<%= item.priority %>">
            <div class="panel-heading">
              <h3 class="panel-title">


                <div class="row">
                  <div class="col-md-1">
                    <% if !item.time.nil? %>
                        <%= item.time %>''
                    <% else %>
                        <%= @promedio %>''
                    <% end %>
                  </div>
                  <div class="col md-11">
                    <%= image_tag item.picture1(:home), :class=>'img-thumbnail', size: "200x200" %>
                  </div>
                </div>


              </h3>
            </div>
            <div class="panel-body">
              <%= link_to 'Editar', edit_car_picture_path(item.car_id, item.id), :class=>'btn btn-info',method: :get %>
              <%= link_to 'Eliminar', {:controller => 'pictures', :action => 'destroy', :id => item.id}, :data => {:confirm => 'Estas seguro de eliminar este elemento?'}, :method => :delete, :class=>'btn btn-danger' %>



            </div>
          </div>

      <% end %>
        </div>
      </div>



      <table class="table">



            </table>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->



<script>

    var ready, set_positions;

    set_positions = function(){
        // loop through and give each task a data-pos
        // attribute that holds its position in the DOM
        $('.panel.panel-default').each(function(i){
            $(this).attr("data-pos",i+1);
        });
    }

    ready = function(){

        // call set_positions function
        set_positions();

        $('.sortable').sortable();

        // after the order changes
        $('.sortable').sortable().bind('sortupdate', function(e, ui) {
            // array to store new order
            updated_order = []
            // set the updated positions
            set_positions();

            // populate the updated_order array with the new task positions
            $('.panel.panel-default').each(function(i){
                updated_order.push({ id: $(this).data("id"), position: i+1 });
            });


            // send the updated order via ajax
            $.ajax({
                type: "GET",
                url: '<%= pictures_sort_path() %>',
                data: { order: updated_order }
            });
        });
    }

    $(document).ready(ready);
    /**
     * if using turbolinks
     */
    $(document).on('page:load', ready);

</script>

<style>
    .sortable-placeholder {
        border: 1px dashed #CCC;
        background-color: #f9f9f9;
        height: 80px;
        margin-bottom: 10px;

    }

    .sortable {
        display: list-item;
        width: 100%;
        list-style: none;

    }

    .panel-heading{
        cursor: crosshair;
    }
</style>